<!-- Implemented navigation for app -->
<nav>
    <li *ngFor="let item of navItems">
        <!-- Added navigation links with routerLink directive to provide app navigation beetwen components -->
        <!-- Added routerLinkActive directive to style active link -->
        <!-- routerLinkActiveOptions is used for applying exactly for direct link -->
        <a [routerLink]="item.link"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{exact: true}">{{item.name}}</a>
    </li>
</nav>

<!-- Used router-outlet directive to show containing of routing module -->
<router-outlet></router-outlet>

