<!-- Display all users from user service -->
<ul>
    <li *ngFor="let user of users" (click)="onSelect(user)">
        {{user.firstName}} | {{user.lastName}}
    </li>
</ul>
<div>
    <!-- Added template-driven form to home.component -->
    <!-- define #userForm="ngForm" as form object (ngSumbit) calls method after submitting form -->
    <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit($event, userForm)" novalidate>
        <div class="form__row">
            <label for="firstName">First Name:</label>
            <div class="form__input">
              <input id="firstName"
                     (change)="clearControlValidation('firstName')"
                     (focus)="clearControlValidation('firstName')"
                     formControlName="firstName" type="text"  required>
              <div class="massege massege__error" *ngIf="isFormSubmitted &&
              userForm.controls['firstName'].invalid && userForm.controls['firstName'].untouched">
              recvaid
              </div>
            </div>
        </div>
        <div class="form__row">
            <label for="lastName">Last Name:</label>
          <div class="form__input">
            <input id="lastName"
                   (change)="clearControlValidation('lastName')"
                   (focus)="clearControlValidation('lastName')"
                   formControlName="lastName" type="text"  required>
            <div class="massege massege__error"
                 *ngIf="isFormSubmitted && userForm.controls['lastName'].invalid &&
            userForm.controls['lastName'].untouched">
            </div>
          </div>
        </div>
        <div>
            <label for="email">Email:</label>
          <div class="form__input">
            <input id="email"
                   (change)="clearControlValidation('email')"
                   (focus)="clearControlValidation('email')"
                   formControlName="email" type="email"  required
                   pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}">
            <div class="massege massege__error" *ngIf="isFormSubmitted &&
            userForm.controls['email'].invalid &&
            userForm.controls['email'].untouched">
              <span *ngIf="userForm.controls['email'].hasError('required')">
                Email is required
              </span>
              <span *ngIf="userForm.controls['email'].hasError('pattern')">
                Email is Wrong
              </span>

            </div>

          </div>
        </div>
        <div>
            <label for="age">Age:</label>
          <div class="form__input">
            <input id="age"
                   (change)="clearControlValidation('age')"
                   (focus)="clearControlValidation('age')"
                   formControlName="age" type="text" >
            <div class="massege massege__error" *ngIf="isFormSubmitted &&
              userForm.controls['age'].invalid && userForm.controls['age'].untouched">
              recvaid
            </div>
          </div>
        </div>
        <div class="form__row">
            <input type="submit" value="submit">
        </div>
    </form>
</div>
